@model PhotoContest.App.ViewModels.ContestDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<div>
    <p>@Html.DisplayNameFor(x => x.Description): @Html.DisplayFor(x => x.Description)</p>
    <p>@Html.DisplayNameFor(x => x.Creator): @Html.DisplayFor(x => x.Creator)</p>
    <p>@Html.DisplayNameFor(x => x.DateCreated): @Html.DisplayFor(x => x.DateCreated)</p>
    <p>@Html.DisplayNameFor(x => x.DateEnd): @Html.DisplayFor(x => x.DateEnd)</p>
</div>
<hr />

// And only when user participate in contest
@if (Request.IsAuthenticated && this.ViewBag.HasUserPartisipate)
{
    <h4>Upload Your photo</h4>

    using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("image", new { }, new { type = "file" })
        <input type="hidden" value="@Model.Id" name="contestId" />
        <input type="submit" class="btn btn-primary" value="Upload" />
    }

}

<div id="photos">
    <h2>Photos</h2>

    @{
        if (Model.Photos.Any())
        {
            @Html.DisplayFor(x => x.Photos)
        }
        else
        {
            <span>No photos yet</span>
        }
    }
</div>

@section scripts
{
    <script>
        function onVoteSuccess(id) {
            var buttonDiv = $("#vote-button-" + id);
            buttonDiv.empty();
        };
    </script>
}


