@using Microsoft.AspNet.Identity
@using PhotoContest.Models.Enums
@model PhotoContest.App.ViewModels.ContestViewModel

<div class="col-md-4">
    <h3>@Model.Title</h3>
    <p>@Model.Description</p>
    <p>Created on: @String.Format("{0:M/d/yyyy}", @Model.DateCreated)</p>
    <p>End: @String.Format("{0:M/d/yyyy}", @Model.DateEnd)</p>
    <p>Participation Strategy: @Model.ParticipationStrategy</p>
    @{
        if (Request.IsAuthenticated
            && @Model.ParticipationStrategy == ParticipationStrategy.Open
            && Model.DateEnd > DateTime.Now
            && !(Model.Participants.Any(x => x.Id == this.User.Identity.GetUserId())))
        {
            @Html.ActionLink("Participate", "Participate", "Contests", new { contestId = @Model.Id }, new { @class = "btn btn-success btn-sm" })
        }
    }

    @Html.ActionLink("Details", "Details", "Contests", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>

