@model PhotoContest.App.ViewModels.PhotoViewModel

<div id="photo-@Model.Id" class="col-md-5 container">
    @Html.Action("GetImage", "Image", new { imageId = Model.Id })
    <p>@Model.Name</p>
    <p>Author: @Model.Author</p>
    <p>Posted on: @String.Format("{0:MM/d/yyyy}", @Model.DateAdded)</p>


    <div id="votes" class="pull-left">
        <div>
            Votes: <span id="@Model.Id-votes-count">@Model.Votes</span>
            @if (!Model.UserHasVoted)
            {
                <div id="vote-button-@Model.Id">
                    @using (Ajax.BeginForm("Vote", "Image", new { photoId = Model.Id, contestId = Model.ContestId }, new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = @Model.Id + "-votes-count",
                        InsertionMode = InsertionMode.Replace,
                        OnSuccess = "onVoteSuccess('" + @Model.Id + "')"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" name="name" value="Vote for this photo" />
                    }
                </div>
            }
        </div>
    </div>
</div>

